.shopping-cart-window{
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    width: 40%;
    height: fit-content;
    z-index: 2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
}

.shopping-cart {
    margin-top: 2px;
    height:100%
}