.shopping-cart-container{
    position: absolute;
    background-color: black;
    width: 100%;
    opacity: 20%
}

.shopping-cart {
    margin: 100px;
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
}