
.product-details {
    margin: 10px 20px 10px 20px;
    padding: 5px;
    height: 90%;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: gray 2px solid;
}

.product-details-fig {
    background-color: white;
    margin: 0;
    height: auto;
    overflow: hidden;
    position: relative;

    & img {
        width: 100%;
        height: auto;
    }
}

.product-details-content{
    font-size: 20px;
    font-weight: bold;

    & h2 {
        font-size: 25px;
    } 
}

.product-details-text{
    padding-left: 50px;

    & h1{
        font-size: 40px;
        color: purple;
        margin-bottom: 0;
    }

    & p {
        font-size: medium;
        color: gray;  
        margin-top: 0;     
    }
}

.product-purchase {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;

    & button{
        font-size: medium;
        background-color: purple;
        color: white;
        border-radius: 5pt;
        width: 100%;
    }
}