.product-details {
    margin: 2%;
    padding: 2%;
    height: 100%;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: purple 2px solid;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
}

.product-details-fig {
    background-color: white;
    height: 100%;
    margin: 0;
    flex: 0.5;
    overflow: hidden;
    position: relative;

    & img {
        width: 100%;
        height: auto;
    }
}

.product-details-content{
    font-size: 15px;
    font-weight: bold;
    flex: 0.5;

    & h2 {
        margin: 0;
        font-size: 20px;
    } 
}

.product-details-text{
    padding-left: 5%;

    & h1{
        font-size: 30px;
        color: purple;
        margin-bottom: 0;
    }

    & p {
        font-size: medium;
        color: gray;  
        margin-top: 0;     
    }
}

.product-purchase {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 5%;

    & button{
        font-size: 15px;
        background-color: purple;
        color: white;
        border-radius: 1em;
        width: 100%;
    }

    & span {
        font-size: 25px;
        color: #555;
        text-decoration: line-through;
    }
}