.search-window {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    width: 70%;
    height: fit-content;
    z-index: 2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
}

.search-input {
    padding: 5px;
}

.search-text-input {
    background-color: white;
    font-size: 15px;
    width: 100%;
    border: 0.4em;
    border-radius: 0.2em;
    height: auto;
}
     
.search-results {
    margin-top: 5px;
    height:100%
}