.product {
    align-items: center;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 5%;
    overflow: hidden;
    padding: 0px;
    width: 300px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 5px;
}
  
.product-figure {
    background-color: white;
    margin: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;

    & img {
        width: 100%;
        height: auto;
    }

    & div {
        display: flex;
        background-color: purple;
        border-radius: 5%;
        font-size: medium;
        align-items: center;
        justify-content: right;
        height:auto;
        position: relative;
        text-align: right;
        padding: 10px;
        width: auto;
    }
}

.product-name{
    font-size: 20px;
    font-weight: bold;
} 

.product-price{
    font-size: 14px;
    color: purple;
    font-weight: light;
    padding: 5px;
}

.product-price--from{
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    color: #555;
    text-decoration: line-through;
} 

.product-price--to{
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
}

.disccount {
    background-color: #212529;
    color: purple;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    padding: .2rem;
    position: absolute;
    right: 0;
    margin: 0;
}

