.product {
    overflow: hidden;
    padding: 0px;
    width: 150px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 5px;
    box-shadow: 0px 1px 1px 0px rgba(248, 2, 248, 0.3);
}
  
.product-figure {
    background-color: white;
    margin: 0px 0px 5px 0px;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;

    & img {
        width: 100%;
        height: auto;
    }
}

.product-name{
    font-size: 10px;
    font-weight: bold;
} 

.product-price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: purple;
    font-weight: light;
    padding: 0 0 5px 0;
}

.product-price--from{
    font-size: 10px;
    margin-right: 5px;
    align-items: center;
    color: #555;
    text-decoration: line-through;
} 

.disccount {
    display: inline-block;
    background-color: goldenrod;
    color: black;
    width: auto;
    border-radius: 2rem;
    font-size: small;
    font-weight: bold;
    padding: 3%;
    position: absolute;
    top: 5%;
    left: 5%;
    margin: 0;
}