
.search-item-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    border: #efefef 1px solid;
}

.search-item-figure {
    margin: 1%;
    width: 40%;

    & img {
        width: 100%;
        height: auto;
    }
}

.search-item-details {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    width: 100%;

    & h3 {
        font-size: 15px;
    }

    & span{
        font-size: small;
        color: gray;  
    }

    & p {
        font-size: small;
        color: gray;    
        margin-top: 0px;    
    }
}

.search-item-description {
    display: flex;
    flex: 0.6;
    flex-direction: column;
    margin-right: 10px;
}

.search-item-price {
    display: flex;
    flex-direction: column;
    flex: 0.4;

    & h3 {
        font-size: 15px;
        margin-bottom: 5px;
        color: purple;
    }
}

