
.cart-item-container {
    display: flex;
    height: 200px;
    flex-direction: row;
    margin: 2%;
    margin-bottom: 2%;
    border: gray 2px solid;
}

.cart-item-figure {
    margin: 5px;
    display: flex;
    flex-direction: column;

    & img {
        flex: 0.9;
        width: auto;
        height: 150px;
    }
}

.cart-item-details {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    width: 100%;

    & h3 {
        font-size: 15px;
    }

    & span{
        font-size: small;
        font-weight: bold;
        color: gray;  
        margin-left: 5%;
        margin-right: 5%;
    }

    & p {
        font-size: small;
        color: gray;    
        margin-top: 0px;    
    }
}

.cart-item-description {
    display: flex;
    flex: 0.8;
    flex-direction: column;
}

.modify-amount-buttons {
    display: flex;
    align-items: center;
    justify-items: center;

    & button{
        width:20pt;
        height: 20pt;
        padding: 0;
        background-color: purple;
        border-radius: 0.5em;

        & span {
            font-size: 20px;
            font-weight: bold;
            color: white;
        }
    }
}

.cart-item-remove {
    height: 5%;
}

.cart-item-price {
    display: flex;
    flex-direction: column;
    flex: 0.2;

    & h3 {
        font-size: 15px;
        color: purple;
    }
}